<div class="registration-container">
  <div class="registration-container__form">
    <mat-card class="registration-form-card">
      <form fxLayoutAlign="center" fxLayout="column" class="registration-form">
        <mat-form-field>
          <input matInput placeholder="Username" />
        </mat-form-field>

        <mat-form-field>
          <input matInput placeholder="Email" />
        </mat-form-field>

        <mat-form-field>
          <input matInput placeholder="Password" type="password" />
        </mat-form-field>

        <mat-form-field>
          <input matInput placeholder="Confirm Password" type="password" />
        </mat-form-field>

        <button mat-raised-button color="primary">Register</button>
      </form>
    </mat-card>
  </div>
</div>
