<div class="app__container">
  <div class="app__header">
    <app-header
      [sidebarToggleStatus]="data"
      (toggleStatus)="receiveData($event)"
    ></app-header>
  </div>
  <router-outlet></router-outlet>

  <div class="app__body">
    <div class="app__body__left">
      <app-sidebar
        [sidebarToggleStatus]="data"
        (toggleStatus)="receiveData($event)"
      ></app-sidebar>
    </div>
    <div class="app__body__right">
      <!-- <app-home></app-home> -->
    </div>
    <div class="centered-content"></div>
  </div>
</div>
