<div class="product-container" style="margin-left: 250px">
  <mat-card *ngFor="let product of products" class="product-card">
    <img
      [routerLink]="['/product', product.id]"
      mat-card-image
      [src]="product.imageUrl"
      alt="{{ product.name }}"
    />
    <div class="product-container__body">
      <mat-card-content>
        <p routerLink="productpage">{{ product.description }}</p>
      </mat-card-content>
      <mat-card-actions class="product-container__action">
        <p>{{ 33.45 }}</p>
      </mat-card-actions>
    </div>
  </mat-card>
</div>
